xsd/Total.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema targetNamespace="urn:InterBOB__formats__V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:InterBOB="urn:InterBOB__V1.0">
	<xsd:import namespace="urn:InterBOB__V1.0" schemaLocation="XML_DDR_InterBOB_fr.xsd"/>
	<xsd:element name="MessageAcquisitions" type="InterBOB:t_MessageAcquisitions"/>
	<xsd:element name="CompteRenduSecurite" type="InterBOB:t_MessageCompteRenduSecurite"/>
	<xsd:element name="MajListeSecurite" type="InterBOB:t_MajListeSecurite"/>
	<xsd:element name="MessageAccuseReception" type="InterBOB:t_MessageAccuseReception"/>
	<xsd:element name="MessageUtilisations" type="InterBOB:t_MessageUtilisations"/>
</xsd:schema>
